.news-intro-col {
  color: black;
  height: 100%;
}

.news-intro-panel {
  text-align: left;
  max-height: 160px;
  overflow: auto;
}

.news-description {
  text-align: left;
}

.news-description p {
  font-size: 18px;
}

.news-chip {
  font-size: 18px;
}

.news-chip-list {
  display:flex;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 200px;
    object-fit: cover;
}